<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>收货地址</string>
		<key>icon</key>
		<string>truck</string>
		<key>detail</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>绑定手机</string>
		<key>icon</key>
		<string>phone</string>
		<key>detail</key>
		<string>18600653280</string>
	</dict>
	<dict>
		<key>name</key>
		<string>绑定邮箱</string>
		<key>icon</key>
		<string>mail</string>
		<key>detail</key>
		<string>haiyuansun@mail.nankai.edu.cn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>关于我们</string>
		<key>icon</key>
		<string>help</string>
		<key>detail</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>给我们评价</string>
		<key>icon</key>
		<string>rating</string>
		<key>detail</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>注销登录</string>
		<key>icon</key>
		<string>close</string>
		<key>detail</key>
		<string></string>
	</dict>
</array>
</plist>
