<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>我的时蔬</string>
        <key>detailList</key>
        <array>
            <dict>
                <key>name</key>
                <string>调味类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>菌菇类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>瓜类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>根茎实果</string>
            </dict>
            <dict>
                <key>name</key>
                <string>果实类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>叶菜类</string>
            </dict>
        </array>
	</dict>
    <dict>
        <key>title</key>
        <string>鲜果速达</string>
        <key>detailList</key>
        <array>
            <dict>
                <key>name</key>
                <string>国产浆果</string>
            </dict>
            <dict>
                <key>name</key>
                <string>苹果类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>瓜类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>梨类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>热带水果</string>
            </dict>
            <dict>
                <key>name</key>
                <string>柑橘橙柚</string>
            </dict>
            <dict>
                <key>name</key>
                <string>进口水果</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>肉蛋家禽</string>
        <key>detailList</key>
        <array>
            <dict>
                <key>name</key>
                <string>蛋类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>禽肉类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>牛羊肉类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>猪肉类</string>
            </dict>
            <dict>
                <key>name</key>
                <string>肉丸</string>
            </dict>
        </array>
    </dict>
</array>
</plist>
