<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>毛冬瓜（精品）约1500g</string>
		<key>base</key>
		<string>天津仓</string>
		<key>price</key>
		<string>13.40</string>
		<key>image</key>
		<string>毛冬瓜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天津南瓜（精品）约750g</string>
		<key>base</key>
		<string>天津仓</string>
		<key>price</key>
		<string>3.40</string>
		<key>image</key>
		<string>南瓜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>丝瓜（精品）约650g</string>
		<key>base</key>
		<string>天津仓</string>
		<key>price</key>
		<string>10.40</string>
		<key>image</key>
		<string>丝瓜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>荷兰瓜（精品）约300g</string>
		<key>base</key>
		<string>天津仓</string>
		<key>price</key>
		<string>4.30</string>
		<key>image</key>
		<string>荷兰瓜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冬瓜（精品）约650g</string>
		<key>base</key>
		<string>天津仓</string>
		<key>price</key>
		<string>2.50</string>
		<key>image</key>
		<string>冬瓜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄瓜（精品）约450g</string>
		<key>base</key>
		<string>天津仓</string>
		<key>price</key>
		<string>3.40</string>
		<key>image</key>
		<string>黄瓜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>金丝南瓜（精品）约900g</string>
		<key>base</key>
		<string>天津仓</string>
		<key>price</key>
		<string>5.80</string>
		<key>image</key>
		<string>金丝南瓜</string>
	</dict>
	<dict>
		<key>name</key>
		<string>苦瓜（精品）约450g</string>
		<key>base</key>
		<string>天津仓</string>
		<key>price</key>
		<string>5.80</string>
		<key>image</key>
		<string>苦瓜</string>
	</dict>
</array>
</plist>
