<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>好评！</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>多次购买，好评！</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>超级赞，大小正合适，一个一杯，也不用担心浪费，味道不错，切开的时候香味就散开了。弄的现成的柠檬蜂蜜柚子水，口感超级赞，就是没冰块了，有了口感更好。嘿嘿，懒人有懒办法。</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>还好，没有坏，快递速度也可以，皮薄汁多，也没有坏的，比黄柠檬小不少，总的来说还不错，可以下次回购</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>自己吃，挺好的。</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>昨天收到后就分给朋友和同事们，大家都一致的好评，特别新鲜。大爱。正在为热天穿漂亮衣衣锻炼减脂，运动后来一杯清爽的青柠水，别无他求。大大的赞。还会光顾 。</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>刚收到这个柠檬我也是没话说了，怎么会有这么 好看的水果～ 切片颜值超级高啊，加了蜂蜜味道怪怪的我就改成了冰糖～喝得荡漾得不行。酸度刚刚好，捶地啊，超级喜欢。</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>包装得很到位，也很新鲜，就是个头小，跟乒乓球差不多，等泡水喝了才来追加</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>说是27～30个左右一斤，结果两斤给了我62个！真心好赞？小伙伴们也很喜欢，确实有些苦。不过一天一个好开心</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>第二次购买，非常满意，每个都很新鲜，一共31个，以后就你们家了。</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
	<dict>
		<key>dateString</key>
		<string>2月2017</string>
		<key>userString</key>
		<string>Bruce Lee</string>
		<key>content</key>
		<string>收到了保证的很好没有一个是坏的，都很好刚刚切开一个皮特别的薄，果汁都流出来了，朋友介绍的没有失望，惊喜，足足三斤家里自己量了一下。以后就这在这里买了。</string>
		<key>userIcon</key>
		<string>commentIcon</string>
	</dict>
</array>
</plist>
